body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
*{
  box-sizing: border-box;
}
.container{
  text-align: center;
  width:80vw;
  max-width:500px;

}
.todo-flex{
  width: 100%;
  border:1px solid black;
  padding: 1em;
  display: flex;
  justify-content: space-between;

  margin: 1em 0;
}
.todo-flex p{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: blue;
 }
 .delete{
   font-weight: 800;
   cursor: pointer;
 }
 button{
   background-color: blue;
   outline:none;
   border:none;
   padding: 1em;
   cursor: pointer;
   margin: 1em;
   color: white;
   
 }